html{
  margin: 0;
  padding: 0;
}

/* Font Classes */

.header, .body, .sub-body {
  font-weight: 300;
}

.body{
  font-size:1.2rem;
}

.about-sec {
  font-weight: 500;
}

.sub-header, .sub-header-body, .temp-font {
  font-weight: 200;
}

.temp-font {
  font-size: 10rem;
}

.header {
  font-size: 3rem;
  text-align: center;
}

.card-MinTemp{
  font-size: 12px;
}

/* Font Classes End */


/* Utility Classes */

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

#loader{
  background: #000 url(../images/loader.gif) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position:fixed;z-index: 100;
}

.grid{
  display: grid;
  grid-template-rows: fit-content(40%) fit-content(40%) fit-content(40%) fit-content(40%);
  margin: 0 auto;
  width: 60vw;
}

.container {
  max-width: 95%;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}


/* Utility Classes End */

body {
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./Images/Sunny_4K.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1rem;
  background-attachment:fixed; ;
}

/* Nav Section */

#nav {
  flex-direction: row !important;
  justify-content: space-between;
  padding-top: 2%;
  width: 90vw;
}

.wm-logo {
  height: auto;
  width: 15%;
}

/* Nav Section Ends */

/* Info Seaction */


.info-block{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 2%;
  font-size: 0.8rem;
  position:absolute ;
  right: 6rem;
  bottom: 3rem;
  width: 20%;
  opacity: 0;
  transition: all 1s;   
}

.info-visible{
  opacity: 1;
}

.infoBtn {
  bottom: 1rem;
  color: rgba(255, 255, 255, 0.5);
  right: 4rem;
  position: absolute;
}

.infoBtn:hover {
  transition: 500ms;
  color: #fff;
}

.open-weather-logo {
  width: 50%;
  height: auto;
}

/* Info Section Ends */

/* input section starts*/

.searchbar .flex{
  flex-direction: row !important;
  justify-content: flex-end;
}

.searchbar input, .searchbar button{
 color: #fff;
 padding: 0 1%;
 border: none;
 border-bottom: 1px solid #fff;
 outline: none;
 background-color: rgba(255, 255, 255, 0);
}

.searchbar input :onFocus{
  outline: none;
}


/* input section ends*/

/* Main Weather Data */

.core_unit .flex {
  flex-direction: column;
}

.main-logo{
  padding: 1rem 0;
  width: 15%;
}

/* .deg-cel{
  padding-left: 20px;
  font-size:40%;
  font-weight:medium;
  position: absolute;
  height:15px;
} */

/* Main Weather Data Ends */

/* Carousel Section */

.carousel-item .flex {
  flex-direction: row;
  gap: 4%;
  margin: 2%;
  text-align: center;
}
.WeatherInfo{
  transition: all 0.2s ease;
}

.WeatherInfo:hover{
  transform: translateY(-20%);
  cursor: pointer;
}

/* Carousel Section Ends */

/* Seven Days Section Starts */
.Seven-days {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 1% 1% 2%;
}

.Seven-days-cards {
  gap: 2%;
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.card {
  padding: 1.5%;
  width: 8rem;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s ease;
}

.card:hover{
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);

}

.card-img{
  width: 35%;
  padding: 4% 0;
}
.card-temp{
  display: inline-block;
}

.card-MaxTemp{
  padding-right: 6%;
}

.footer {
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: white;
   text-align: center;
   display: flex;
   justify-content: flex-end;
}



/* Seven Days Section Ends */

/* Media Queries Start */

@media only screen and (max-width: 1440px) {
  .aboutFont {
    font-size: 0.8rem;
  }

  .body{
    font-size:1rem;
  }
  .temp-font {
    font-size: 7rem;
  }

  .header {
    font-size: 2rem;
  }

  .grid {
    margin: 1% auto 0;
  }

  .card-MinTemp{
    font-size: 8px;
  }

  .main-logo {
    width: 10%;
  }
}

@media only screen and (max-width: 1400px) {

  .card{
    font-size: 0.8rem;
    width: 5.5rem;
  }

  .card-img{
    width: 30%;
  }

  .body{
    font-size:0.8rem;
  }

  .grid {
    margin: 5% auto 0;
  }

  .aboutFont {
    font-size: 0.5rem;
  }

  .header {
    font-size: 2rem;
  }

  .temp-font {
    font-size: 5rem;
  }

  .card-MinTemp{
    font-size: 0.6rem;
  }

  .fa-2x {
    font-size: 1.5rem;
  }

}


@media only screen and (max-width: 998px) {

  .wm-logo {
    width: 12rem;
    margin-top: 0.5em;
  }

    .aboutFont {
      font-size: 0.7rem;
    }

    .grid {
      width: auto;
      margin-top: 10%;
    }

    .body{
      font-size:1rem;
    }
    .temp-font {
      font-size: 7rem;
    }

    .header {
      font-size: 2rem;
    }

    .card-MinTemp{
      font-size: 8px;
    }

    .main-logo {
      width: 10%;
    }

    .info-block {
      background-color: rgba(0, 0, 0, 0.8);
      width: 35%;
    }
    
    body{
      background-image: url('./Images/bg-425.png');
    }

  }


@media only screen and (max-width: 550px) {

  .wm-logo {
    margin-top: 1.5%;
    width: 35%;
  }

  .searchbar input, .searchbar button {
    font-size: 0.7rem;
  }

  .grid {
    margin-top: 25%;
    width: 80vw;
  }

  .aboutFont {
    font-size: 0.5rem;
  }

  .info-block {
    right: 3rem;
    width: 80%;
  }

  .infoBtn {
    right: 1rem;
    font-size: 0.6rem;
  }

  .body{
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  .temp-font {
    font-size: 4rem;
  }

  .header {
    font-size: 1.4rem;
  }

  .sub-header {
    font-size: 0.8rem;
  }

  .daily-title {
    font-size: 1rem;
  }

  .card {
    font-size: 0.6rem;
    width: 4rem;
  }

  .card-MinTemp{
    font-size: 8px;
  }

  .main-logo {
    width: 25%;
  }

  .weatherCarousel {
    margin-top: 3%;
  }

  .Seven-days-cards {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5rem;
  }

  .Seven-days {
    margin: 3% 0;
    padding: 3% 1%;
  }

  .searchinput {
    justify-self: flex-end;
    width: 65%;
  }

  .carousel-indicators {
    display: none;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1rem;
  }

}

@media only screen and (max-width: 320px)
{
  .wm-logo {
    width: 40%;
  }
}


/* Media Queries Start End */
