/* Font Classes */

.header, .body, .sub-body {
  font-weight: 300;
}

.body{
  font-size:1.2rem;
}

.about-sec {
  font-weight: 500;
}

.sub-header, .sub-header-body, .temp-font {
  font-weight: 200;
}

.temp-font {
  font-size: 10rem;
}

.header {
  font-size: 3rem;
}

.card-MinTemp{
  font-size: 12px;
}

/* Font Classes End */


/* Utility Classes */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 0.8; /* Firefox */
}


.grid{
  display: grid;
  grid-template-rows: fit-content(40%) fit-content(40%) fit-content(40%) fit-content(40%);
  margin: 0 auto;
  width: 60vw;
}

.container {
  max-width: 95%;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}


/* Utility Classes End */

body {
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.bg-img {
  background-image: url('./Images/Sunny_4K.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* Nav Section */

#nav {
  flex-direction: row !important;
  justify-content: space-between;
  padding-top: 2%;
  width: 90vw;
}

.wm-logo {
  height: auto;
  width: 15%;
}

/* Nav Section Ends */

/* Info Seaction */



.info {
  bottom: 2%;
  color: rgba(255, 255, 255, 0.5);
  right: 4%;
  position: absolute;
}

.info:hover {
  color: #fff;
}

.open-weather-logo {
  width: 50%;
  height: auto;
}

.info-content {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  bottom: 2%;
  padding: 2%;
  position: absolute;
  right: 4%;
  visibility: hidden;
  width: 20%;
}

.info-visible {
  visibility: visible;
}

/* Info Section Ends */

/* input section starts*/

.searchbar .flex{
  flex-direction: row !important;
}

.searchbar input, .searchbar button{
 color: #fff;
 padding: 0 1%;
 border: none;
 border-bottom: 1px solid #fff;
 outline: none;
 background-color: rgba(255, 255, 255, 0);
}

.searchbar input :onFocus{
  outline: none;
}


/* input section ends*/

/* Main Weather Data */

.core_unit .flex {
  flex-direction: column;
}

.main-logo{
  padding: 1rem 0;
  width: 15%;
}

/* .deg-cel{
  padding-left: 20px;
  font-size:40%;
  font-weight:medium;
  position: absolute;
  height:15px;
} */

/* Main Weather Data Ends */

/* Carousel Section */

.carousel-item .flex {

  flex-direction: row;
  gap: 4%;
  margin: 2%;
}
.WeatherInfo{
  transition: all 0.2s ease;
}

.WeatherInfo:hover{
  transform: translateY(-20%);
  cursor: pointer;
}

/* Carousel Section Ends */

/* Seven Days Section Starts */
.Seven-days {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 1% 1% 2%;
}

.Seven-days-cards{
  gap: 2%;
  display: flex;
  justify-content:space-between;
  align-items:center;

}

.card{
  padding: 1.5%;
  width: 8rem;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s ease;
}

.card:hover{
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);

}

.card-img{
  width: 35%;
  padding: 4% 0;
}
.card-temp{
  display: inline-block;
}

.card-MaxTemp{
  padding-right: 6%;
}



/* Seven Days Section Ends */

/* Media Queries Start */

@media only screen and (max-width: 1440px) {
  .aboutFont {
    font-size: 0.8rem;
  }

  .body{
    font-size:1rem;
  }
  .temp-font {
    font-size: 7rem;
  }

  .header {
    font-size: 2rem;
  }

  .card-MinTemp{
    font-size: 8px;
  }

  .main-logo {
    width: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .aboutFont {
    font-size: 0.6rem;
  }

  .body{
    font-size:1rem;
  }
  .temp-font {
    font-size: 7rem;
  }

  .header {
    font-size: 2rem;
  }

  .card-MinTemp{
    font-size: 8px;
  }

  .main-logo {
    width: 10%;
  }

/* Media Queries Start End */
